$color-primary: rgb(0, 0, 0);
$color-secondary: rgb(175, 212, 247);
$color-background: rgb(255, 255, 255);
$color-shadow: rgb(145, 145, 145);

$padding-tiny: 10px;
$padding-small: 20px;
$padding-medium: calc(30px + 1vh);

$font-size-small: 15px;
$font-size-medium: 25px;
$font-size-huge: 50px;
