$color-primary: rgb(0, 0, 0);
$color-secondary: rgb(175, 212, 247);
$color-background: rgb(255, 255, 255);

$padding-small: 20px;
$padding-medium: 30px;

$font-size-small: 15px;
$font-size-medium: 25px;
$font-size-huge: 50px;